* {
  box-sizing: border-box;
  transition: 0.25s ease-in-out;
}
body {
  font-family: 'Comfortaa', Arial, sans-serif;
}
h1 {
  margin: 0;
  line-height: 48px;
  font-size: 32px;
  font-weight: 700;
}
.blue {
  background-color: #0656d9;
}
.pink {
  background-color: #ff4772;
}
.green {
  background-color: #6dc353;
}
.cyan {
  background-color: #5bc2bf;
}