.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.30);
  color: #fff;
  text-align: center;
  z-index: 100;
  &.hidden {
    pointer-events: none;
    opacity: 0;
    z-index: -1;
  }
  .modal-content-container {
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    box-shadow: 0px 5px 26px 0px rgba(0,0,0,0.22), 0px 20px 28px 0px rgba(0,0,0,0.30);
  }
}