.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  padding: 0 17px;
  background-color: #0656d9;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
  z-index: 999;
  .navbar {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    h1 {
      color: #fff;
    }
    .icon-container {
      height: 80px;
      position: relative;
      display: flex;
      align-items: inherit;
      padding: 0 5px;
      border-bottom-color: #fff;
      transition: 0.3s ease-in-out;
      cursor: pointer;
      &:hover {
        background: rgba(255,255,255,0.1);
      }
      .logo-image {
        height: 45px;
        width: 45px;
        border-radius: 100%;
        border: 3px solid #5bc2bf;
        vertical-align: middle;
      }
    }
  }
  .notification-count-wrapper {
    position: absolute;
    top: 14px; 
    right: 0;
    &.hidden {
      display: none;
    }
    .notification-count {
      height: 19px;
      width: 19px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #cc0000;
      border-radius: 50%;
      font-size: 10px;
      font-weight: 700;
      color: #fff;
      text-align: center;
    }
  }
}